
    .icon{
        margin-right: 8px;
    }
.contactWrapper{
    display: flex;
    justify-content: space-between;
}
.contactDataWrapper{
    margin-right: 40px;
}

.deleteBtn{
border: 1px solid gray;
border-color: lightgray;

}